@import 'tailwindcss';


@theme{
    --breakpoint-mobile : 375px;
    --breakpoint-laptop : 1440px;
    
    --color-neutral-100 : #fff1f1;
    --color-neutral-400 :#ff6868;
    --color-neutral-500 : #fa3939;


    --font-family-englebert : 'Englebert';

}

body{
    font-family: 'Englebert';
}

@font-face {
    font-family: 'Englebert';
    src: url('./assets/fonts/Englebert-Regular.ttf')format('truetype');
}
